<div class="footer">
<!--             <p class="text-center"> -->
<!--                 <a class="ml-2" href="https://github.com/boolfalse-am" target="_blank"><img src="https://img.shields.io/github/release/boolfalse.svg" alt="Github BoolFalse"></a> -->
<!--                 <a class="ml-2" href="https://www.npmjs.com/package/boolfalse-am" target="_blank"><img src="https://img.shields.io/npm/v/boolfalse/latest.svg" alt="NPM BoolFalse"></a> -->
<!--             </p> -->

            <p class="text-center">Copyright © 2019-2020 by <a href="https://boolfalse.am" target="_blank">BoolFalse</a>. All rights reserved.</p>
        </div>

        <!-- Preloader -->
        <div id="preloader"></div>
